/* Tag/Element Selector */
h1{
    text-align: center;
    color: red;
    /* color: #ff0000;
    color: rgb(19, 8, 83); */
    font-size: 40px;

}
small{
    width: 200px;
    display: block;
    background-color: red;
    height: 500px;
}

/* universal selector */
*{
  /* color: green;   */
  margin: 0px;
  padding: 0px;
}

/* attribute selector */
/* a[title="google"]{
    color: red;
    text-decoration: none;
} */

/* id selector */
#idselector{
    color: brown;
    word-spacing: 25px;
    letter-spacing: 10px;
    line-height: 50px;
    text-indent: 40px;
    font-size: 25px;
    text-transform: uppercase;
}


/* class selector */
.classselector{
    color: red;
}

/* descendent selector */
.desc a{
    color: red;
}

/* child selector */
.child > a{
    color: green;
}


/* pseudo selector */
a[title="google"]:link,a[title="facebook"]{
   color: red; 
}
a[title="google"]:hover{
    color: green;
    text-decoration: none;
}
a[title="google"]:active{
    color: yellow;
}   

a:visited{
    color: brown;
}

/* target */
p:target{
    color: red;
    line-height: 30px;
    word-spacing: 20px;
}

/* border */
.borderone{
    border: 20px double red;
}

.bordertwo{
    border-top: 20px solid green;
}

.borderthree{
    border: 5px solid green;
    border-radius: 10px 0px 0px 0px;
}

.borderstyle{
    /* border-style: dashed; */
    /* T R B L */
    /* border-style: solid dashed; */
    /* T/B  L/R */
    /* border-style: dashed solid double; */
    /* T   L/R   B */
    border-style: dashed solid dotted double;
    /* T R B L */

    /* border-color: red; */

    border-width: 20px;

}

.bordercolor{
    border-style: dotted;
    border-color: red;
}


/* margin */
.margin{
    border: 2px solid red;
    /* margin: 50px; */
    margin: 40px 100px;
    /* margin-top: 40px; */
}

/* padding */
.padding{
    border: 3px solid green;
    /* padding: 50px; */
    padding: 40px 200px;
    /* padding-left: 100px; */
}


/* Layout */

.inline{
    border: 1px solid red;
    width: 200px;
    display: inline-block;
}

.block{
    border: 1px solid green;
    width: 200px;
    display: inline-block;
}

/* float */
.float_left_img{
    width: 50%;
    /* float: left; */
}
.float_text{
    float: left;
    width: 50%;
}

.clear{
    clear: both;
}

.float_right_img{
    width: 50%;
    float: right;
}
/* grid */
.gridone div,.gridtwo div,.gridthree div,.gridfour div{
    padding: 20px;
    text-align: center;
    color: white;
}
.gridone,.gridthree,.gridfour{
    display: grid;
    grid-template-columns:  auto auto auto;
}

.gridtwo{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    /* grid-gap: 40px; */
}

.columnadd{
    grid-column-start: 2;
    grid-column-end: 4;
}

.rowadd{
    grid-row-start: 2;
    grid-row-end: 4;
}

