/* Tag/Element Selector */
h1{
    text-align: center;
    color: red;
    /* color: #ff0000;
    color: rgb(19, 8, 83); */
    font-size: 40px;

}
small{
    width: 200px;
    display: block;
    background-color: red;
    height: 500px;
}

/* universal selector */
*{
  /* color: green;   */
}

/* attribute selector */
/* a[title="google"]{
    color: red;
    text-decoration: none;
} */

/* id selector */
#idselector{
    color: brown;
    word-spacing: 25px;
    letter-spacing: 10px;
    line-height: 50px;
    text-indent: 40px;
    font-size: 25px;
    text-transform: uppercase;
}


/* class selector */
.classselector{
    color: red;
}

/* descendent selector */
.desc a{
    color: red;
}

/* child selector */
.child > a{
    color: green;
}


/* pseudo selector */
a[title="google"]:link,a[title="facebook"]{
   color: red; 
}
a[title="google"]:hover{
    color: green;
    text-decoration: none;
}
a[title="google"]:active{
    color: yellow;
}   

a:visited{
    color: brown;
}

/* target */
p:target{
    color: red;
    line-height: 30px;
    word-spacing: 20px;
}